# Web Framework and ASGI Server
fastapi
uvicorn[standard]

# Database and ORM
sqlalchemy
pyodbc

# Configuration
pydantic
pydantic-settings
python-dotenv

# Security (JWT and Password Hashing)
python-jose[cryptography]
passlib[bcrypt]

# DuckDB (for local development)
duckdb
pandas

#report pdf
reportlab